@{
    ViewBag.Title = "Employee List";
    int count = 1;
}
@model List<Employee>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header py-3 d-flex justify-content-between align-items-center">
                    <h6 class="font-weight-bold text-primary">Employee List</h6>
                    <div>
                        <a asp-action="Create" asp-controller="Employee" class="btn btn-primary">Create Employee</a>
                        <a asp-action="Deleted" asp-controller="Employee" class="btn btn-danger">Deleted Employees</a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Image</th>
                                <th scope="col">Fullname</th>
                                <th scope="col">Department</th>
                                <th scope="col">Created Time</th>
                                <th scope="col">Updated Time</th>
                                <th scope="col">Update</th>
                                <th scope="col">Delete</th>
                                <th scope="col">Show/Hide</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td scope="col">@(count++)</td>
                                    <td scope="col"><img src="~/imgs/employees/@item.ImageUrl" width="50px" /></td>
                                    <td scope="col">@item.Fullname</td>
                                    <td scope="col">@(item.Department?.Name == null ? "-" : item.Department.Name )</td>
                                    <td scope="col">@item.CreatedTime</td>
                                    <td scope="col">@(item.UpdatedTime == null ? "-" : item.UpdatedTime)</td>
                                    <td scope="col">
                                        <a class="btn btn-outline-primary" asp-action="Update" asp-controller="Employee" asp-route-id="@item.Id">
                                            <i class="fa-solid fa-pen"></i>
                                        </a>
                                    </td>
                                    <td scope="col">
                                        <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="Employee" asp-route-id="@item.Id">
                                            <i class="fa-solid fa-trash"></i>
                                        </a>
                                    </td>
                                    <td scope="col">
                                        <a class="btn @(item.IsVisible ? "btn-outline-secondary" : "btn-outline-warning")"
                                           asp-action="@(item.IsVisible ? "Show" : "Hide")"
                                           asp-controller="Employee"
                                           asp-route-id="@item.Id">
                                            <i class="fa-solid @(item.IsVisible ? "fa-eye-slash" : "fa-eye")"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

